.container {
    @apply w-[90%] mx-auto max-w-[1440px];

    .progressBar {
        @apply lg:hidden w-full mt-5;

        .bar {
            @apply bg-Primary bg-opacity-10 rounded-full w-full h-4 shadow-sm relative;

            .progress {
                @apply transition-all h-full rounded-full bg-Headers relative;

                .circle {
                    @apply border-none bg-Secondary top-[2px] right-[2px];
                }
            }

            .circle {
                @apply w-3 h-3 rounded-full absolute border border-solid border-Headers top-[2px] right-[2px];
            }
        }

        .tags {
            @apply mt-3 flex justify-between items-center;
        }
    }

    .wrapper {
        @apply grid lg:grid-cols-[70%_30%] gap-5 mt-5;

        .inputsCont {
            @apply grid lg:grid-cols-2 gap-3;

            .inputCont .error {
                color: #ff0000 !important;
            }

            .doubleInput {
                @apply grid md:grid-cols-2 gap-3;
            }
        }

        .left {
            @apply flex flex-col gap-5;

            header {
                @apply mb-3;
            }

            .address {
                @apply mb-3;
            }
        }

        .mobile {
            @apply lg:hidden;

            .controls {
                @apply mt-5 flex items-center justify-between;

                .backBtn {
                    @apply cursor-pointer hover:underline;
                }
            }
        }

        .desktop {
            @apply hidden lg:block;
        }

        .right {
            @apply flex flex-col-reverse lg:flex-col gap-5;


            .contact {
                div {
                    @apply flex items-center gap-3 mt-1;

                    span:last-of-type {
                        @apply underline;
                    }
                }
            }

            .orderSummary {
                .orders {
                    @apply flex flex-col gap-3 my-3;

                    .order {
                        @apply flex items-center gap-3 w-full;

                        .image {
                            @apply min-w-[4rem] h-16 rounded-md bg-Headers;
                        }

                        .details {
                            @apply flex items-end justify-between w-full;

                            div {
                                p {
                                    @apply text-Headers font-semibold;
                                }
                            }

                            .quantityCont {
                                @apply flex items-center gap-5 px-2 border border-solid border-Headers rounded w-max;

                                .up,
                                .down {
                                    @apply font-black cursor-pointer;
                                }
                            }
                        }
                    }
                }

                .priceTotal {
                    @apply flex flex-col gap-3 my-4;

                    div {
                        @apply flex items-center justify-between;

                        p:nth-of-type(2) {
                            @apply font-extrabold;
                        }
                    }

                    div:nth-of-type(3) {
                        @apply pt-4 border-t border-Headers border-solid;
                    }
                }
            }
        }
    }
}
