.container {
    @apply w-[90%] mx-auto max-w-[1440px];

    .wrapper {
        @apply grid md:grid-cols-[70%_30%] gap-5 md:gap-10 mt-5;

        .left {
            @apply flex flex-col gap-5;

            header {
                @apply mb-3;
            }

            .inputsCont {
                @apply grid md:grid-cols-2 gap-3;

                div {
                    @apply grid grid-cols-2 gap-3;
                }
            }

            .address {
                @apply mb-3;
            }
        }

        .right {
            @apply flex flex-col gap-5 md:gap-10;

            .contact {
                div {
                    @apply flex items-center gap-3 mt-1;
                }
            }

            .orderSummary {
                .orders {
                    @apply flex flex-col gap-3 my-3;

                    .order {
                        @apply flex items-center gap-3;

                        .image {
                            @apply w-16 h-16 rounded-md bg-Headers;
                        }

                        .details {
                            @apply flex items-end justify-between gap-10;

                            div:first-of-type {
                                p {
                                    @apply text-Headers font-semibold;
                                }
                            }

                            .quantityCont {
                                @apply flex items-center gap-5 px-2 border border-solid border-Headers rounded w-max;

                                .up,
                                .down {
                                    @apply font-black cursor-pointer;
                                }
                            }
                        }
                    }
                }

                .priceTotal {
                    @apply flex flex-col gap-3 my-4;

                    div {
                        @apply flex items-center justify-between;

                        p:nth-of-type(2) {
                            @apply font-extrabold;
                        }
                    }

                    div:nth-of-type(3) {
                        @apply pt-4 border-t border-Headers border-solid;
                    }
                }
            }
        }
    }
}
