@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply m-0 p-0 font-['Caudex'] overflow-x-hidden bg-[url('../assets/bg.svg')] bg-cover bg-no-repeat;
}

a {
    @apply text-Headers;
    color: inherit;
    text-decoration: none;
}

p {
    @apply text-Text;
}

h1,
h2,
h3 {
    @apply text-Headers;
}

h1 {
    @apply text-3xl sm:text-4xl md:text-5xl mb-2;
}

h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
}

h3 {
    @apply text-2xl sm:text-3xl mb-4;
}

h4 {
    @apply text-xl md:text-2xl mb-2;
}

* {
    box-sizing: border-box;
}

section {
    @apply mb-14 md:mb-20;
}
