.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    @apply bg-Primary;

    .heroSection {
        @apply h-[calc(100vh-90px)] py-14 bg-Primary;

        .content {
            @apply flex flex-col gap-4 w-[90%] mx-auto max-w-[1440px];

            p {
                @apply max-w-[600px];
            }

            .viewProductsCont {
                @apply flex items-center gap-5 border-b border-Headers border-solid pb-2 w-max cursor-pointer mt-5;

                p {
                    @apply text-Headers text-xl;
                }

                .arrow {
                    @apply text-Headers;
                }
            }
        }
    }
}

.productsSection {
    .product:first-of-type {
        @apply bg-Secondary;
    }

    .product:last-of-type {
        @apply mt-1;
    }

    .product {
        @apply bg-Primary py-16 h-[600px] flex items-end md:h-max;

        .content {
            @apply flex flex-col gap-2;

            .price {
                @apply text-2xl text-Headers;
            }

            .description {
                @apply max-w-[600px] text-Headers;
            }
        }
    }
}
